* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.dark-blue {
    background-color: #1F2937;
}

.dark-blue-width-container {
    width: 1000px;
    margin: 0 auto;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-links > li > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.center {
    display: flex;
    align-items: center;
    height: 440px;
}

.left-center, .right-center {
    width: 50%
}

.right-center {
    margin: 80px 0 80px 40px;
    background-color: #6d747d;
    width: 506px;
    height: 220px;
}

.right-center > img {
    width: 506px;
    height: 220px;
}

.header-links, .left-center > p {
    color: #E5E7EB;
    font-size: 18px;
}

.left-center > p {
    margin: 0 0 16px 0;
}

.left-center > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-center > button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: #F9FAF8; 
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

